.footer {
  background-color: $bg-vote-grey;
  color: $text-additional-footer;
  font-family: 'Roboto';

  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  padding: 29px 0px;
  @media screen and (min-width: 768px) {
    padding: 30px 0px;
    font-size: 16px;
    line-height: 1.18;
  }
  @media screen and (min-width: 1280px) {
    padding: 30px 0 28px;
  }
}
.footer-list {
  display: block;

  text-align: center;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  li {
    display: flex;
    align-items: center;
    justify-content: center;
    &:first-child {
      margin-right: 5px;
    }
  }
}
.footer-btn {
  background-color: transparent;
  border-color: transparent;
  font-family: 'Roboto';
  color: $text-additional-footer;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    padding: 0px;
    font-size: 16px;
    line-height: 1.18;
  }

  &:hover,
  &:focus {
    color: $text-accent;
  }
}
.footer-list-ico {
  padding: 0;
  margin: 0 10px 0 10px;
}
.teem-modal {
  background-color: $bg-btn-modal;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  height: 940px;
  padding: 48px 20px;
  overflow: auto;
  text-align: center;
  @media screen and (min-width: 768px) {
    padding: 30px 66px;
    width: 704px;
    height: 522px;
    text-align: start;
  }
  @media screen and (min-width: 1280px) {
    width: 806x;
    height: 558px;
  }
}
.team-modal__btn--close {
  z-index: 2;
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}
.teem-modal__header {
  text-align: center;
  margin-bottom: 10px;
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    padding-bottom: 15px;
  }
}
.teem-modal__item {
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 1280px) {
  }
}
.teem-modal__img {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  margin-bottom: 5px;
  @media screen and (min-width: 768px) {
    margin: 0px 5px;
  }
  @media screen and (min-width: 1280px) {
  }
}
.teem-modal-sm {
  display: flex;
  justify-content: center;
  margin-bottom: 7px;
  & li:first-child {
    margin-right: 7px;
  }
  & a:hover,
  & a:focus {
    fill: $bg-icon;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    margin-top: 15px;
  }
}
.team-modal__text-wrap {
  @media screen and (min-width: 768px) {
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 15px;
  }
}
