.footer {
  font-family: 'Roboto';

  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  padding: 29px 0px;
  @media screen and (min-width: 768px) {
    padding: 30px 0px;
    font-size: 16px;
    line-height: 1.18;
  }
  @media screen and (min-width: 1280px) {
    padding: 30px 0 28px;
  }
}
.footer-day {
  background-color: $bg-vote-grey;
  color: $text-additional-footer;
}
.footer-night {
  color: $text-additional-footer;
  background-color: #000;
}
.footer-list {
  display: block;

  text-align: center;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  li {
    display: flex;
    align-items: center;
    justify-content: center;
    &:first-child {
      margin-right: 5px;
    }
  }
}
.footer-btn {
  background-color: transparent;
  border-color: transparent;
  font-family: 'Roboto';
  color: $text-additional-footer;
  font-weight: 400;

  cursor: pointer;
  text-decoration: underline;
  @media screen and (min-width: 768px) {
    padding: 0px;
    font-size: 16px;
    line-height: 1.18;
  }

  &:hover,
  &:focus {
    color: $text-accent;
  }
}
.footer-list-ico {
  padding: 0;
  margin: 0 10px 0 10px;
}
.teem-modal {
  background-color: $bg-btn-modal;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  height: 540px;
  padding: 48px 20px;
  overflow: auto;
  text-align: center;
  @media screen and (min-width: 768px) {
    padding: 30px 66px;
    width: 704px;
    height: 522px;
    text-align: start;
  }
  @media screen and (min-width: 1280px) {
    width: 806x;
    height: 558px;
  }
}
.team-modal__btn--close {
  z-index: 2;
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}
.teem-modal__header {
  text-align: center;
  margin-bottom: 10px;
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    padding-bottom: 15px;
  }
}
.team-modal-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}
.teem-modal__item {
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3);
    align-items: center;
  }
  @media screen and (min-width: 1280px) {
  }
}
.teem-modal__img {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  margin-bottom: 5px;
  transition: transform 250ms;
  @media screen and (min-width: 768px) {
    margin: 7px 5px;
  }
  @media screen and (min-width: 1280px) {
  }
  &:hover {
    transform: scale(1.05);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.6));
  }
}
.teem-modal-sm {
  display: flex;
  justify-content: center;
  margin-bottom: 7px;
  & li:first-child {
    margin-right: 7px;
  }
  & a:hover,
  & a:focus {
    fill: $bg-icon;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    margin-top: 15px;
  }
}
.team-modal__text-wrap {
  @media screen and (min-width: 768px) {
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 15px;
    @media screen and (min-width: 768px) {
      margin: 0 auto;
      text-align: center;
      align-items: center;
    }
  }
}
.team-modal__span--orange {
  display: block;
  color: $bg-icon;
  text-transform: uppercase;
}
