.header {
    padding-top: 40px;
    padding-bottom: 44px;
    margin-left: auto;
    margin-right: auto;
    width: 480px;
    background-image: url('./../images/header-mob-1x.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
        background-image: url('./../images/header-mob-2x.jpg');
        background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
    }

    @media screen and (min-width: 768px) {
        
        padding-bottom: 81px;
        width: 768px;
            background-image: url('./../images/header-tabl-1x.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            @media (min-device-pixel-ratio: 2),
                    (min-resolution: 192dpi),
                    (min-resolution: 2dppx) {
                background-image: url('./../images/header-tabl-2x.jpg');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
    }
}
    @media screen and (min-width: 1280px) {
            width: 1280px;
            background-image: 
        url('./../images/header-desk-1x.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            @media (min-device-pixel-ratio: 2),
                    (min-resolution: 192dpi),
                    (min-resolution: 2dppx) {
                background-image: url('./../images/header-desk-2x.jpg');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
    }
}
    &__span {
        display: none;
        @media screen and (min-width: 768px) {
        display: block;
        color: var(--text-secondary);
        font-size: 30px;
        line-height: 1.16;
        }
    }
    &__logo {
        display: flex;
        align-items:center;
        text-decoration: none;
        &-icon {
            width: 24px;
            height: 24px;
            @media screen and (min-width: 768px) {
                margin-right: 8px;
            }
        }
    }
    &__navigation {
        
        display: flex;
            justify-content: space-between;
        @media screen and (min-width: 768px) {
            
        }
        &-list {
            display: flex;
            justify-content: space-between;
            list-style: none;
        }
        &-link {
            text-decoration: none;
            color: var(--text-secondary);
            font-size: 12px;
            line-height: 1.16;
            text-transform: uppercase;
        }
        &-item {
            &:not(:last-child) {
                margin-right: 39px;
            }
        }
    }
    &__form {
        margin-top: 50px;
        @media screen and (min-width: 768px) {
            width: 336px;
            margin-left: auto;
            margin-right: auto;
        }
        @media screen and (min-width: 1280px) {
            width: 394px;
        }
        &::after {
            content: '';
            display: block;
            height: 0.5px;
            width: 100%;
            background-color: var(--text-secondary);
            margin-top: 3px;
        }
        &-block {
            display: flex;
            justify-content: space-between;
            align-items:center;
        }
        &-input {
            color: var(--text-secondary);
            flex-grow: 1;
            outline: none;
            border: none;
            background-color: transparent;
            &::placeholder {
                color: var(--text-secondary);
                font-size: 14px;
                line-height: 1.16;
                font-weight: 400;
            }
        }
        &-button {
            border: none;
            outline: none;
            background-color: transparent;
        }
        &-icon {
            width: 12px;
            height: 12px;
        }
    }
    &__text-warning {
        color: var(--current--page);
        font-size: 14px;
        line-height: 1.16;
        font-weight: 400;
        text-align: center;
        margin-top: 20px;
    }
}
.is-active-page {
    &::after{
        content: '';
        display: block;
        height: 3px;
        background-color: var(--current--page);
        width: 100%;
    }
}

.header {
&-library-bg {
    padding-top: 40px;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 480px;
    background: linear-gradient(180deg,
    rgba(0, 0, 0, 0.56),
    rgba(0, 0, 0, 0.56)), 
    url('./../images/library-mob-1x.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background: linear-gradient(180deg,
    rgba(0, 0, 0, 0.56),
    rgba(0, 0, 0, 0.56)), 
    url('./../images/library-mob-2x.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  @media screen and (min-width: 768px) {
        
        padding-bottom: 81px;
        width: 768px;
            background: linear-gradient(180deg,
    rgba(0, 0, 0, 0.56),
    rgba(0, 0, 0, 0.56)), url('./../images/library-tabl-1x.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            @media (min-device-pixel-ratio: 2),
                    (min-resolution: 192dpi),
                    (min-resolution: 2dppx) {
                background: linear-gradient(180deg,
    rgba(0, 0, 0, 0.56),
    rgba(0, 0, 0, 0.56)), url('./../images/library-tabl-2x.jpg');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
    }
}
    @media screen and (min-width: 1280px) {
            width: 1280px;
            background: linear-gradient(180deg,
    rgba(0, 0, 0, 0.56),
    rgba(0, 0, 0, 0.56)),
        url('./../images/library-desk-1x.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            @media (min-device-pixel-ratio: 2),
                    (min-resolution: 192dpi),
                    (min-resolution: 2dppx) {
                background: linear-gradient(180deg,
    rgba(0, 0, 0, 0.56),
    rgba(0, 0, 0, 0.56)), url('./../images/library-desk-1x.jpg');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
    }
}
}
&__library-buttons {
    margin-top: 51.4px;
    display: flex;
    justify-content: center;
    list-style: none;
    
}
&__library-button {
    &:not(:first-child) {
        margin-left: 16px;
    }
}
}