.pagination-list {

}

.pagination {
    position: relative;
    display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
background-color: $text-secondary;
}

.pagination-list__item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    line-height: 1.3;
    cursor: pointer;
    list-style-type: none;

    &:not(:last-child){
        margin-right: 16px;
    }

    &:active,
    &:hover,
    &:focus {
        color: $current-page;
    }
}

.current {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: $text-accent;
    color: $text-secondary;
    
}
