.spinner-box {
    position: absolute;
    top: 50%;
    left: 45%;
    z-index: 1000;
    display: flex;
    justify-content: center;
}

.none {
    display: none;
}


.spinner-box__img {
    animation: spinner 3s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

