@import '~node_modules/modern-normalize/modern-normalize.css';

.container {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
@media (max-width: 479px) {
    max-width: 480px;
}
    @media (min-width: 480px) {
        width: 480px;
    }
    @media (min-width: 768px) {
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }    
    @media (min-width: 1280px) {
        width: 1280px;
    }
}