html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
p,
ul {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: var(--text-main);
}

.list {
  list-style-type: none;
  padding-left: 0px;
}

.no-scroll {
  overflow: hidden;
}
.backdrop {
  position: fixed;
  transition: opacity 250ms, visibility 250ms;
  top: 0;
  background-color: rgba(0, 0, 0, 0.56);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
