:root {
    --main: #000000;
    --text-secondary: #ffffff;
    --text-accent: #FF6B08;
    --text-additional-footer: #545454;
    --text-modal-card: #8C8C8C;
    --text-warning: #FF001B;

    --bg-header: rgba(0, 0, 0, 0.56);

    --current--page: #FF001B;

    --bg-icon: #FF6B08;
    --bg-btn-accent: #FF6B01;
    --bg-btn-modal: #ffffff;
}