:root {
  --main: #000000;
  --text-secondary: #ffffff;
  --text-accent: #ff6b08;
  --text-additional-footer: #545454;
  --text-modal-card: #8c8c8c;
  --text-warning: #ff001b;

  --bg-header: rgba(0, 0, 0, 0.56);

  --current--page: #ff001b;

  --bg-icon: #ff6b08;
  --bg-btn-accent: #ff6b01;
  --bg-btn-modal: #ffffff;
  --bg-vote-grey: #f7f7f7;
}
