<div class="filter__container visually-hidden">
  <div class="custom-select-container">
    <div class="custom-multi-select filter-genres" style="width: 160px"></div>
    <div class="custom-select filter-years" style="width: 100px">
      <select>
        <option value="0">Year</option>
        <option value="0">None</option>
        <option value="2022">2022</option>
        <option value="2021">2021</option>
        <option value="2020">2020</option>
        <option value="2016-19">2016-19</option>
        <option value="2010-15">2010-15</option>
        <option value="2000s">2000s</option>
        <option value="1990s">1990s</option>
        <option value="1980s">1980s</option>
        <option value="1970s">1970s</option>
        <option value="1960s">1960s</option>
      </select>
    </div>
  </div>
  <div class="filter-buttons-container">
    <button type="button" class="filter-btn filter-btn-use">Use</button>
    <button type="button" class="filter-btn filter-btn-reset">Reset</button>
  </div>
</div>
