<!-- <button type="button">Register / Log in</button> -->
<div class="auth-modal" data-modal>
    <svg class="icon-close" width="32" height="32" data-modal-close>
        <use href="./images/symbol-defs.svg#icon-close"></use>
    </svg>

    <div class="auth">

        <div class="reg-container">
            <h2>Register</h2>
            <form class="reg-form">
            
                <input class="reg-form__name" type="text" name="username" placeholder="Username" />
            
                <input class="reg-form__email" type="email" name="email" placeholder="E-mail" />
            
                <input class="reg-form__password" type="password" name="password" placeholder="Password" />
            

            <button id="register" type="submit">Register</button>

        <form>
        </div>
        <div class="or"><p>OR</p></div>
        <div class="login-container">
            <h2>Log in</h2>
            <form class="login-form">
            <input type="email" name="email" placeholder="E-mail" />
            
            <input type="password" name="password" placeholder="Password" />
            <button id="login" type="submit">Log in</button>
            </form>
        </div>
    </div>
</div>