
<div class="auth-modal visually-hidden backdrop" data-modal>
    <button class="auth-modal__closbtn" type="button" data-modal-close>
        <svg class="icon-close" width="32" height="32">
            <use href="./images/symbol-defs.svg#icon-close"></use>
        </svg>
    </button>
    <div class="auth">
        
        <div class="reg-container">
            <h2 class="reg-title">Register</h2>
            <form class="reg-form">

                <input class="reg-form__input" type="text" name="username" placeholder="Enter your name" />

                <input class="reg-form__input" type="email" name="email" placeholder="E-mail" />

                <input class="reg-form__input" type="password" name="password" placeholder="Password" />


                <button class="btn-queue-modal btn" id="register" type="submit">Register</button>

            </form>
        </div>
        <div class="or">
            <p>OR</p>
        </div>
        <div class="login-container">
            <h2 class="reg-title">Log in</h2>
            <form class="login-form">
                <input class="reg-form__input" type="email" name="email" placeholder="E-mail" />

                <input class="reg-form__input" type="password" name="password" placeholder="Password" />
                <button class="btn-queue-modal btn" id="login" type="submit">Log in</button>
            </form>
        </div>
    </div>
</div>