<footer class="footer">
    <div class="container">
        <ul class="footer-list list">
            <li>© 2022 | All Rights Reserved | </li>
            
            <li>Developed with<svg width="14" height="13" class="footer-list-ico">
                <use href="./images/symbol-defs.svg#heart"></use>
            </svg>by<button type="button" class="footer-btn"> GoIT Students</button></li>
        </ul>
    </div>
</footer>
<div class="visually-hidden backdrop" data-modal-teem>
    <div class="visually-hidden teem-modal">
        <div class="team-modal__btn--close">
            <svg width="32" height="32" class="teem-modal__svg">
                <use href="./images/symbol-defs.svg#icon-close"></use>
            </svg>
        </div>
        <h2 class="teem-modal__header">developers:</h2>
        <ul class="team-modal-list list">
            <li class="teem-modal__item"><img src="/src/images/photo/kabushko.jpg" alt="Photo Kabushko Alena" width="120"
                    height="120" class="teem-modal__img">
                <div class="team-modal__text-wrap">
                    <p><span class="team-modal__span--orange">Olena Kobushko</span>Team Lead, developer</p>
                    <ul class="list teem-modal-sm">
                        <li><a href="https://www.linkedin.com/me?trk=p_mwlite_me_notifications-secondary_nav" target="_blank"><svg width="24" height="24" class="teem-modal__svg">
                                    <use href="./images/symbol-defs.svg#icon-linkedin2"></use>
                                </svg></a></li>
                        <li><a href="https://github.com/AlenaKabushko" target="_blank"><svg width="24" height="24" class="teem-modal__svg">
                                    <use href="./images/symbol-defs.svg#icon-github"></use>
                                </svg></a></li>
                    </ul>
                </div>
            </li>
            <li class="teem-modal__item"><img src="/src/images/photo/dmytrenko.jpg" alt="Photo Dmytrenko Kateryna" width="120" height="120" class="teem-modal__img">
                
                <div class="team-modal__text-wrap"><p><span class="team-modal__span--orange">Kateryna Dmytrenko</span>scram, developer</p>
                <ul class="list teem-modal-sm">
                    <li><a href="https://www.linkedin.com/in/katryna-dmytrenko-96b13522b/" target="_blank"><svg width="24" height="24" class="teem-modal__svg">
                                <use href="./images/symbol-defs.svg#icon-linkedin2"></use>
                            </svg></a></li>
                    <li><a href="https://github.com/dmitkate" target="_blank"><svg width="24" height="24" class="teem-modal__svg">
                                <use href="./images/symbol-defs.svg#icon-github"></use>
                            </svg></a></li>
                </ul>
                </div>
            </li>
            <li class="teem-modal__item"><img src="/src/images/photo/khorolska.jpg" alt="Photo Khorolska Yana" width="120" height="120" class="teem-modal__img">
                <div class="team-modal__text-wrap">
                <p><span class="team-modal__span--orange">Yana Khorolska</span>developer</p>
                <ul class="list teem-modal-sm">
                    <li><a href="https://www.linkedin.com/in/yana-khorolska-17bb3b134/" target="_blank"><svg width="24" height="24" class="teem-modal__svg">
                                <use href="./images/symbol-defs.svg#icon-linkedin2"></use>
                            </svg></a></li>
                    <li><a href="https://github.com/yanakhorolska" target="_blank"><svg width="24" height="24" class="teem-modal__svg">
                                <use href="./images/symbol-defs.svg#icon-github"></use>
                            </svg></a></li>
                </ul>
                </div>
            </li>
            <li class="teem-modal__item"><img src="/src/images/photo/borovyk.jpg" alt="Photo Borovyk Olha" width="120" height="120" class="teem-modal__img">
                <div class="team-modal__text-wrap">
                <p><span class="team-modal__span--orange">Olha Borovyk</span>developer</p>
                <ul class="list teem-modal-sm">
                    <li><a href="https://www.linkedin.com/in/%D0%BE%D0%BB%D1%8C%D0%B3%D0%B0-%D0%B1%D0%BE%D1%80%D0%BE%D0%B2%D0%B8%D0%BA-387706112/" target="_blank"><svg width="24" height="24" class="teem-modal__svg">
                                <use href="./images/symbol-defs.svg#icon-linkedin2"></use>
                            </svg></a></li>
                    <li><a href="https://github.com/OlgaBorovik" target="_blank"><svg width="24" height="24" class="teem-modal__svg">
                                <use href="./images/symbol-defs.svg#icon-github"></use>
                            </svg></a></li>
                </ul>
                </div>
            </li>
                <li class="teem-modal__item"><img src="/src/images/photo/bukhansev.jpg" alt="Photo Kostiantyn Bukhanеsev" width="120"
                        height="120" class="teem-modal__img">
                    <div class="team-modal__text-wrap">
                        <p><span class="team-modal__span--orange">Kostia Bukhanеsev</span>developer</p>
                        <ul class="list teem-modal-sm">
                            <li><a href="https://www.linkedin.com/in/kbuhantsev" target="_blank"><svg width="24" height="24"
                                        class="teem-modal__svg">
                                        <use href="./images/symbol-defs.svg#icon-linkedin2"></use>
                                    </svg></a></li>
                            <li><a href="https://github.com/IhorLyskov" target="_blank"><svg width="24" height="24"
                                        class="teem-modal__svg">
                                        <use href="./images/symbol-defs.svg#icon-github" target="_blank"></use>
                                    </svg></a></li>
                        </ul>
                    </div>
                </li>
            <li class="teem-modal__item"><img src="/src/images/photo/ihor.jpg" alt="Photo Ihor Lyskov" width="120" height="120"
                    class="teem-modal__img">
                <div class="team-modal__text-wrap">
                    <p><span class="team-modal__span--orange">Ihor Lyskov</span>developer</p>
                    <ul class="list teem-modal-sm">
                        <li><a href="http://www.linkedin.com/in/igor-lyskov-000a26182" target="_blank"><svg width="24" height="24" class="teem-modal__svg">
                                    <use href="./images/symbol-defs.svg#icon-linkedin2"></use>
                                </svg></a></li>
                        <li><a href="https://github.com/IhorLyskov"><svg width="24" height="24" class="teem-modal__svg">
                                    <use href="./images/symbol-defs.svg#icon-github" ></use>
                                </svg></a></li>
                    </ul>
                </div>
            </li>
            <li class="teem-modal__item"><img src="/src/images/photo/dubrovskyi.jpg" alt="Photo Vladyslav DUBROVSKYI" width="120" height="120"
                    class="teem-modal__img">
                <div class="team-modal__text-wrap">
                    <p><span class="team-modal__span--orange">Vlad DUBROVSKYI</span>developer</p>
                    <ul class="list teem-modal-sm">
                        <li><a href="https://ua.linkedin.com/in/vladyslav-dubrovskyi-3035a9102" target="_blank"><svg width="24" height="24"
                                    class="teem-modal__svg">
                                    <use href="./images/symbol-defs.svg#icon-linkedin2"></use>
                                </svg></a></li>
                        <li><a href="https://github.com/vladdubrovskyi" target="_blank"><svg width="24" height="24" class="teem-modal__svg">
                                    <use href="./images/symbol-defs.svg#icon-github"></use>
                                </svg></a></li>
                    </ul>
                </div>
            </li>
            <li class="teem-modal__item"><img src="/src/images/photo/orest.jpg" alt="Photo OREST RYBAILO" width="120" height="120"
                    class="teem-modal__img">
                <div class="team-modal__text-wrap">
                    <p><span class="team-modal__span--orange">OREST RYBAILO</span>developer</p>
                    <ul class="list teem-modal-sm">
                        <li><a href="https://www.linkedin.com/in/orest-rybailo-7a23aa252/" target="_blank"><svg width="24" height="24"
                                    class="teem-modal__svg">
                                    <use href="./images/symbol-defs.svg#icon-linkedin2"></use>
                                </svg></a></li>
                        <li><a href="https://github.com/Rybailo" target="_blank"><svg width="24" height="24" class="teem-modal__svg">
                                    <use href="./images/symbol-defs.svg#icon-github"></use>
                                </svg></a></li>
                    </ul>
                </div>
            </li>
            <li class="teem-modal__item"><img src="/src/images/photo/kozlov.jpg" alt="Photo Kyrylo Kozlov" width="120" height="120"
                    class="teem-modal__img">
                <div class="team-modal__text-wrap">
                    <p><span class="team-modal__span--orange">Kyrylo Kozlov</span>developer</p>
                    <ul class="list teem-modal-sm">
                       
                        <li><a href="https://github.com/Semestotell" target="_blank"><svg width="24" height="24"
                                    class="teem-modal__svg">
                                    <use href="./images/symbol-defs.svg#icon-github"></use>
                                </svg></a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
