<footer class="footer">
    <div class="container">
        <ul class="footer-list list">
            <li>© 2022 | All Rights Reserved | </li>
            
            <li>Developed with<svg width="14" height="13" class="footer-list-ico">
                <use href="./images/symbol-defs.svg#heart"></use>
            </svg>by<button type="button" class="footer-btn"> GoIT Students</button></li>
        </ul>
    </div>
</footer>
<div class="teem-modal visually-hidden">
    <div class="team-modal__btn--close">
        <svg width="14" height="14" class="teem-modal__svg">
            <use href="./images/symbol-defs.svg#icon-search-2"></use>
        </svg>
    </div>
    <h2>developers:</h2>
    <ul class="list">
        <li><img src="/src/images/photo/photo_2022-02-02_14-28-33.jpg" alt="Photo Dmytrenko Kateryna" width="90" height="120"><p>Dmytrenko Kateryna - Scram master, developer</p>
        <ul class="list">
            <li><a href="http://"><svg width="24" height="24" class="teem-modal__svg">
                <use href="./images/symbol-defs.svg#icon-linkedin2"></use>
            </svg></a></li>
            <li><a href="http://"><svg width="24" height="240" class="teem-modal__svg">
                    <use href="./images/symbol-defs.svg#icon-github"></use>
                </svg></a></li>
        </ul></li>
       
    </ul>
</div>