<header class="header">
    <div class="container">
        <nav class="header__navigation">
            <a href="index.html" class="header__logo"><span class="header__span">Filmoteka</span></a>
            <ul class="header__navigation-list">
                <li class="header__navigation-item"><a class="header__navigation-link is-active-page" href="index.html">Home</a></li>
                <li class="header__navigation-item"><a class="header__navigation-link" href="library.html">My library</a></li>
            </ul>
        </nav>
        <form action="" class="header__form">
            <input type="text" class="header__form-input" placeholder="Movie search">
            <button type="submit" class="header__form-button">:)</button>
        </form>
    </div>
</header>