<header class="header">
    <div class="container">
        <nav class="header__navigation">
            <a href="index.html" class="header__logo">
                <svg class="header__logo-icon">
                    <use href="./images/symbol-defs.svg#icon-film"></use>
                </svg>
                <span class="header__span">Filmoteka</span></a>
            <ul class="header__navigation-list">
                <li class="header__navigation-item"><button class="header__navigation-button" type="button" data-modal-open>Log in</button></li>
                <li class="header__navigation-item visually-hidden"><button class="header__navigation-button logout-btn" type="button">Log out</button></li>
                <li class="header__navigation-item"><a class="header__navigation-link is-active-page" href="index.html">Home</a></li>
                <li class="header__navigation-item"><a class="header__navigation-link disabled library" href="library.html">My library</a></li>
                <li class="header__navigation-item"><button class="header__navigation-button header__navigation-button-filter" type="button">Filter</button></li>
            </ul>
        </nav>
        <div class="header__library-user"></div>
        <form action="" class="header__form">
            <div class="header__form-block">
                <input type="text" class="header__form-input" placeholder="Movie search">
            <button type="submit" class="header__form-button">
                <svg class="header__form-icon">
                    <use href="./images/symbol-defs.svg#icon-search-2"></use>
                </svg></button>
            </div>
        </form>
        <p class="header__text-warning">Search result not successful. Enter the correct movie name and repeat</p>
        <button class="header__button-fon" type="button">
            <svg class="header__sun-button">
                    <use class="moon" id="moon" href="./images/symbol-defs.svg#moon"></use>
                    <use class="sun" id="sun" href="./images/symbol-defs.svg#sun"></use>
                </svg>
        </button>
    </div>
</header>