<header class="header header-library-bg">
    <div class="container">
        <nav class="header__navigation">
             <a href="index.html" class="header__logo">
                <svg class="header__logo-icon">
                    <use href="./images/symbol-defs.svg#icon-film"></use>
                </svg>
                <span class="header__span">Filmoteka</span></a>
            <ul class="header__navigation-list">
                <li class="header__navigation-item"><a class="header__navigation-link" href="index.html">Home</a></li>
                <li class="header__navigation-item"><a class="header__navigation-link is-active-page" href="library.html">My library</a></li>
            </ul>
        </nav>
        <ul class="header__library-buttons">
            <li class="header__library-button">
                <button type="button" class="btn btn-watch">Watched</button>
            </li>
            <li class="header__library-button">
                <button type="button" class="btn btn-queue">Queue</button>
            </li>
        </ul>
         <button class="header__button-fon" type="button">
            <svg class="header__sun-button">
                    <use class="moon" id="moon" href="./images/symbol-defs.svg#moon"></use>
                    <use class="sun" id="sun" href="./images/symbol-defs.svg#sun"></use>
                </svg>
        </button>
    </div>
</header>