<main>
    <div class="spinner-box none">
        <img src="./images/spinner.png" alt="spinner" width="40" class="spinner-box__img">
    </div>
    
    <div class="container">
        <ul class="films-gallery list">

        </ul>
    </div>

    <div class="pagination container">
        <ul class="pagination-list list">
    
        </ul>
    </div>

        <div class="new-pagination container visually-hidden">
            <ul class="new-pagination-list list">
        
            </ul>
        </div>

    <button type="button" class="button-top" hidden>^</button>
</main>