.btn {
  width: 148px;
  height: 42px;
  border-radius: 5px;

  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;

  color: $text-secondary;
}

.btn-watch {
  background-color: $bg-btn-accent;
  border-color: transparent;
}

.btn-watch-modal {
  background-color: $bg-btn-accent;
  border-color: transparent;
  width: 110px;
  @media screen and (min-width: 768px) {
    width: 125px;
  }
}

.btn-queue-modal {
  background-color: $bg-btn-modal;
  border: 1px solid $main;
  color: $main;
  width: 110px;
  @media screen and (min-width: 768px) {
    width: 125px;
  }
}

.btn-queue {
  background-color: transparent;
  border: 1px solid $bg-btn-modal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
